:root {
	--font-body: "Open Sans Variable";
	--font-heading: "Open Sans Condensed";
	--color-brand-red: hsl(355.9deg 74.5% 38.4%);
	--color-brand-orange: hsl(25.3deg 91% 48%);
	--color-brand-blue: hsl(200.6deg 93.9% 32.2%);
	--color-brand-brown: hsl(355.5deg 62.4% 24.5%);
	--footer-image-rotation: 18deg;
}

div[data-slug="drucke/erstdrucke-digitalisate"] table td:first-child,
div[data-slug="drucke/erstdrucke-digitalisate"] table th:first-child {
	@apply w-1 whitespace-nowrap pe-8;
}

.tables-striped * {
	@apply border-0;
}

.tables-striped tbody tr:nth-child(odd) {
	@apply bg-neutral-100;
}

.tables-striped tbody td {
	@apply ps-2;
}

/* stylelint-disable-next-line selector-class-pattern */
.ais-InfiniteHits-loadMore:disabled {
	display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
#hits:not(:has(li)) .ais-InfiniteHits-loadMore {
	display: none;
}

/* article pages */
.row:has(#medienleiste) {
	@apply grid grid-cols-1 gap-x-8 md:grid-cols-[4fr_1fr];
}

/* datatables */

.datatable-sorter {
	@apply text-left;
}
