---
import { KopistenLanguageToggle } from "@/components/kopisten-language-toggle";
import KopistenNav from "@/components/kopisten-nav.astro";
import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";

interface Props {
	title: string;
	image?: string | null;
	languageToggle?: boolean;
	bg?: boolean;
	shadow?: boolean;
}

const { bg = true, shadow = true, languageToggle = false } = Astro.props;
---

<MainContent>
	<div class="bg-white">
		<div
			class="mx-auto flex w-full max-w-screen-lg items-center justify-end pe-8 pt-4 text-md font-medium"
		>
			<KopistenNav />
		</div>
	</div>
	<PageSection>
		{languageToggle && <KopistenLanguageToggle languages={["de", "en"]} client:only="solid-js" />}
		<div
			class:list={["prose my-2", { "bg-white": bg }, { "shadow-lg shadow-neutral-500": shadow }]}
		>
			<slot />
		</div>
	</PageSection>
</MainContent>
